<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>{{ title | uppercase}}</nb-card-header>
      <nb-card-body>
        <form  [formGroup]="customForm">
          <div class="row">
            <div class="col-md-6">
              <label>Bodega</label>
              <input type="text" #focusElement nbinput="" fullWidth
                placeholder="Descripción *" name="winery_name" [(ngModel)]="model.winery_name"
                formControlName="winery_name"  [class.status-danger]="invalidName"
                [class.is-invalid]="invalidName" required="" autofocus
                class="input-full-width size-medium status-basic shape-rectangle ng-pristine ng-touched nb-transition ng-valid">
            </div>

            <div class="col-md-6">
              <label>Sucursal</label>
              <select class="form-control" fullWidth
                      formControlName="branch_id"
                      name="branch_id"
                      required [class.is-invalid]="invalidBranch"
                      [(ngModel)] = "model.branch_id"
                      [class.status-danger]="invalidBranch"
                      [disabled] = "branch_office.length === 0">
                <option *ngFor="let branch of branch_office" [value]="branch.id">
                  {{ branch.branch_name }}
                </option>
              </select>
            </div>

          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <div class="row flex">
          <div class="space-right float-right padding-top-bottom">
            <button (click)= "cancel()" nbSuffix nbButton status="danger" class="radius-button" [disabled]="loading">
              <i class="fas fa-undo fas-fa-22 space-right"></i>
              <strong>{{ 'buttons.cancel' | translate }} </strong>
            </button>
          </div>
          <div class="space-right padding-top-bottom">
            <button nbSuffix nbButton (click) ="saveAndCreate()" status="success" class="radius-button" [disabled]="loading">
              <i [ngClass]="{'fa-save':!saveACreate, 'fa-spinner fa-spin':saveACreate }" class="fas-fa-22 space-right fas">
              </i>
              {{'buttons.saveAndCreate' | translate }}
            </button>
          </div>
          <div class="padding-top-bottom">
            <button nbSuffix nbButton (click) ="saveAndClose()" status="primary" class="radius-button" [disabled]="loading">
              <i [ngClass]="{'fa-save':!saveAClose, 'fa-spinner fa-spin':saveAClose }" class="fas-fa-22 space-right fas"></i>
              {{'buttons.saveAndClose' | translate }}
            </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
