<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">{{ title | uppercase}}</div>
      <div class="card-body">
        <form [formGroup]="customForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><span
                    class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.name'| translate }}</label>
                <input type="text" #focusElement nbinput fullWidth name="name_taxe" formControlName="name_taxe"
                  [class.status-danger]="invalidNameTaxe" [class.is-invalid]="invalidNameTaxe" required="" autofocus
                  class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span
                    class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.description'| translate }}</label>
                <input type="text" #focusElement fullWidth nbinput name="description" formControlName="description"
                  [class.status-danger]="invalidDescription" [class.is-invalid]="invalidDescription" required=""
                  autofocus
                  class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
						<div class="col-md-6">
							<div class="form-check">
								<input type="checkbox" class="form-check-input" formControlName="is_vat" style="margin-right: 2%;">
								<label>{{ 'taxes.is_vat' | translate }}</label>
							</div>
						</div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <app-footer-form [showAaveACreate]="true" [saveAClose]="saveAClose" [saveAClose]="saveAClose" (closeEvent)="cancel()"
                          (saveAndCreateEvent)="saveAndCreate()" (saveAndCloseEvent)="saveAndClose()" [maskSpinner]="maskSpinner">
				</app-footer-form>
      </div>
    </div>
  </div>
</div>
