<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">{{ title | uppercase}}</div>
      <div class="card-body">
        <form [formGroup]="customForm" class="custom-form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><span
                    class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.name'| translate }}
                </label>
                <input type="text" #focusElement formControlName="name_taxe"
                  [class.status-danger]="invalidNameTaxe" [class.is-invalid]="invalidNameTaxe" required autofocus
                  class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span
                    class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.description'| translate }}
                </label>
                <input type="text" formControlName="description"
                  [class.status-danger]="invalidDescription" [class.is-invalid]="invalidDescription" required
                  autofocus
                  class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" formControlName="is_vat">
                    <label class="form-check-label">{{ 'taxes.is_vat' | translate }}</label>
                </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <app-footer-form [showAaveACreate]="true" [saveAClose]="saveAClose" (closeEvent)="cancel()"
                          (saveAndCreateEvent)="saveAndCreate()" (saveAndCloseEvent)="saveAndClose()">
				</app-footer-form>
      </div>
    </div>
  </div>
</div>
