.card-columns {
	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
		column-count: 4;
	}

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) { 
		column-count: 6;
	}

	// Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) { 
		column-count: 8;
 	}
}


.create-customer {
  font-weight: bold !important;
  background-color: rgb(165, 7, 33) !important;
  color: #ffffff !important;
}

.search-custom {
  background: #ffffff !important;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.322);
  -moz-box-shadow:    0px 2px 8px 0px rgba(50, 50, 50, 0.322);
  box-shadow:         0px 2px 8px 0px rgba(50, 50, 50, 0.322);
  padding-bottom: 5px !important;
}

.card-col-list {
  max-height: 250px;
  overflow: auto;
}

.card-col  {
  max-height: 870px;
  min-height: 200px;
  overflow: auto;
}

.discounts  {
  color: green;
  font-weight: bold;
}

.total  {
  color: red;
  font-weight: bold;
}
.total-bg  {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: bold;
}

.vat  {
  color: blue;
  font-weight: bold;
}

.card-sales {
  margin: 5px !important;
  min-height: 138px !important;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.322);
  -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.322);
  box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.322);
  border: 2px solid rgba(255, 255, 255, 0.247);
  .price  {
    color: red;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .card-header {
    padding: 4px;
    &:hover {
      background-color: red;
      color: white;
      .price {
        color: white;
      }
    }
  }
  .product-name{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px !important;
  }
  .img-product {
    max-width: 62px;
    display: block;
    margin: auto;
    &:hover{
      -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 2px 8px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 2px 8px 0px rgba(50, 50, 50, 0.75);
      border-radius: 10px;
    }
  }
  .card-body {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 4px;
    padding-right: 4px;
  }
  &:hover{
    cursor: pointer;
    border: 2px solid #173afd1f;
  }
  .card-content {
    &:hover{
      background-color: #173afd;
      color: white;
    }
  }
}


.product-name-header {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: rebeccapurple;
  text-align: center;
  word-break: break-all;
  height: 32px;
  padding: 4px;
  border-radius: 25px;
  border: 2px #ffffff83 solid;
}
