<!-- Minimal statistics section start -->
<section id="minimal-statistics">
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 danger">{{ quantityProducst }}</h3>
                <span>Productos/Servicios</span>
              </div>
              <div class="media-right align-self-center">
                <i class="fab fa-product-hunt danger font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 success">{{ quantityCustomers }}</h3>
                <span>Clientes</span>
              </div>
              <div class="media-right align-self-center">
                <i class="fas fa-id-card success font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 warning">{{ quantityProviders }}</h3>
                <span>Proveedores</span>
              </div>
              <div class="media-right align-self-center">
                <i class="fas fa-id-card warning font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 primary">0</h3>
                <span>Empleados</span>
              </div>
              <div class="media-right align-self-center">
                <i class="fas fa-id-card primary font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Minimal statistics section end -->
<section id="minimal-statistics">
  <div class="row">
    <div class="col-12 mb-1">
      <div class="content-header">Estadísticas del mes </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 danger">{{ quantityElectronicDocuments }}</h3>
                <span>Documentos electrónicos</span>
              </div>
              <div class="media-right align-self-center">
                <i class="fas fa-file-invoice danger font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 success">{{ quantityPosDocuments }}</h3>
                <span>Documentos POS</span>
              </div>
              <div class="media-right align-self-center">
                <i class="fas fa-receipt success font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 warning">{{ quantitySalesTotal | currency }}</h3>
                <span>Total ventas/ingresos</span>
              </div>
              <div class="media-right align-self-center">
                <i class="fas fa-file-invoice-dollar warning font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="mb-1 primary">{{ quantityTaxTotal | currency }}</h3>
                <span>Total impuestos</span>
              </div>
              <div class="media-right align-self-center">
                <i class="fas fa-hand-holding-usd primary font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
