<!--Forgot Password Starts-->
<section id="forgot-password">
  <div class="row account-pages mt-5 mb-5 justify-content-center">
    <div class="col-md-7 col-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div
                class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                <img src="assets/img/gallery/forgot.png" alt="" class="img-fluid" width="260" height="230">
              </div>
              <div class="col-lg-6 col-md-12 px-4 py-3">
                <form [formGroup]="customForm">
									<div class="text-center mb-2">
										<h4 class="mb-2 card-title text-primary">{{ 'recoverPassword.header' | translate}}</h4>
										<p class="card-text mb-3 text-muted">{{ 'recoverPassword.description'  | translate }}</p>
									</div>
                  <div class="form-group">
                    <input #focusElement class="form-control" type="email" [placeholder]="placeholderEmail" required
                      inputmode="email" formControlName="email" [class.is-invalid]="invalidEmail" autofocus>
                    <div *ngIf="invalidEmail" class="help-block mt-1 text-danger"> <i
                        class="ft-alert-circle align-middle"></i> <span>
                        {{ 'general.isRequired' | translate }} </span>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-block btn-lg" type="submit" (click)="onSubmit()" [disabled]="loading">
                    <strong *ngIf="!loading">{{ 'recoverPassword.button.recover' | translate }}</strong>
                    <strong *ngIf="loading">{{ 'recoverPassword.button.recovering' | translate }}</strong>
                    <i [ngClass]="{'fa-key':!loading, 'fa-spinner fa-spin':loading }" class="fas"
                      style="text-align: left;padding-left: 10px;">
                    </i>
                  </button>
                  <label
                    style="padding: 2px;font-size: 12px;">{{ 'register.label.youRegistered' | translate }}
                    <a
                      [routerLink]="['/auth/login']"><strong>{{ 'register.label.login' | translate }}</strong></a>
                  </label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner><p style="color: white;"> {{ maskSpinner }} </p></ngx-spinner>
</section>
<!--Forgot Password Ends-->
