<!--Forgot Password Starts-->
<section>
    <div class="auth-wrapper auth-v2">
        <div class="auth-inner row m-0">
            <!-- Left Text-->
            <div class="d-none d-lg-flex col-lg-8 align-items-center p-5 auth-image">
                <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
                    <img src="assets/img/gallery/forgot.png" alt="" class="img-fluid">
                </div>
            </div>
            <!-- /Left Text-->
            <!-- Login-->
            <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                    <form [formGroup]="customForm" class="custom-form">
                        <div class="text-center mb-2">
                            <h4 class="mb-2 card-title text-primary">{{ 'recoverPassword.header' | translate}}</h4>
                            <p class="card-text mb-3 text-muted">{{ 'recoverPassword.description'  | translate }}</p>
                        </div>
                      <div class="form-group">
                        <input #focusElement class="form-control" type="email" [placeholder]="placeholderEmail" required
                          inputmode="email" formControlName="email" [class.is-invalid]="invalidEmail" autofocus>
                        <div *ngIf="invalidEmail" class="help-block mt-1 text-danger"> <i
                            class="ft-alert-circle align-middle"></i> <span>
                            {{ 'general.isRequired' | translate }} </span>
                        </div>
                      </div>
                      <button class="btn btn-primary btn-block btn-lg" type="submit" (click)="onSubmit()" [disabled]="loading">
                        <strong *ngIf="!loading">{{ 'recoverPassword.button.recover' | translate }}</strong>
                        <strong *ngIf="loading">{{ 'recoverPassword.button.recovering' | translate }}</strong>
                        <i [ngClass]="{'fa-key':!loading, 'fa-spinner fa-spin':loading }" class="fas"
                          style="text-align: left;padding-left: 10px;">
                        </i>
                      </button>
                      <label
                        style="padding: 2px;font-size: 12px;">{{ 'register.label.youRegistered' | translate }}
                        <a
                          [routerLink]="['/auth/login']"><strong>{{ 'register.label.login' | translate }}</strong></a>
                      </label>
                    </form>
                </div>
            </div>
            <!-- /Login-->
        </div>
    </div>
</section>
<!--Forgot Password Ends-->
<block-ui></block-ui>
