<nb-card>
  <nb-card-header>{{title | uppercase}}</nb-card-header>
  <nb-card-body class="example-items-col">
    <div class="menuExport">
      <div class="space-right">
        <button nbSuffix nbButton (click)="searchQuery()" [disabled]="loading" status="danger" class="radius-button">
          <nb-icon nbPrefix icon="sync" pack="fas" class="fas-fa-22"></nb-icon>
        </button>
      </div>
      <div class="myMenu space-right">
        <jqxMenu #myMenu [height]="36" class="clearColor" (onItemclick)="itemclick($event)">
            <ul>
              <li id='Exports'>
                <i class="fas fa-cog fas-fa-22 fas-fa-red"></i>
                <a href="javascript:void(0)"></a>
                <ul style="width: 200px;">
                  <li><a href="javascript:void(0)"><i class="fas fa-file-excel fas-fa-xls"></i>{{ 'export.excel' | translate }}</a></li>
                  <li><a href="javascript:void(0)"><i class="fas fa-file-csv fas-fa-xls"></i>{{ 'export.csv' | translate }}</a></li>
                  <li><a href="javascript:void(0)"><i class="fas fa-file-excel fas-fa-xls"></i>{{ 'export.xml' | translate }}</a></li>
                  <li type="separator"></li>
                  <li><a href="javascript:void(0)"><i class="fas fa-file-pdf fas-fa-pdf"></i>{{ 'export.pdf' | translate }}</a></li>
                  <li type="separator"></li>
                  <li><a href="javascript:void(0)"><i class="fas fa-file-code fas-fa-code"></i>{{ 'export.html' | translate }}</a></li>
                  <li><a href="javascript:void(0)"><i class="fas fa-file-code fas-fa-code"></i>{{ 'export.json' | translate }}</a></li>
                  <li><a href="javascript:void(0)"><i class="fas fa-file-code fas-fa-code"></i>{{ 'export.tsv' | translate }}</a></li>
                  <li type="separator"></li>
                  <li><a href="javascript:void(0)"><i class="fas fa-print fas-fa-print"></i>{{ 'export.print' | translate }}</a></li>
                </ul>
              </li>
            </ul>
        </jqxMenu>
      </div>
      <div class="space-right">
        <button nbSuffix nbButton (click)="createData()" [disabled]="loading" status="success" class="radius-button">
          <nb-icon nbPrefix icon="plus" pack="fas" class="fas-fa-22"></nb-icon>
          {{ 'buttons.new' | translate }}
        </button>
      </div>
      <div>
        <button nbSuffix nbButton (click)="importData()" [disabled]="loading" status="info" class="radius-button">
          <nb-icon nbPrefix icon="upload" pack="fas" class="fas-fa-22"></nb-icon>
          {{ 'buttons.import' | translate }}
        </button>
      </div>
    </div>
    <nb-form-field>
      <input type="text" #searchField nbInput fullWidth fieldSize="medium" [placeholder]="placeholderSearch" (keyup)="inputKey($event)"
        autofocus>
      <button nbSuffix nbButton ghost (click)="clearFilter()" [disabled]="loading" status="danger">
        <nb-icon nbPrefix icon="backspace" pack="fas"></nb-icon>
      </button>
    </nb-form-field>
    <jqxGrid #customGrid width="100%" [disabled]="loading" [auto-create]="false" (onCellselect)="cellClick($event)"
      (onBindingcomplete)="Bindingcomplete($event)">
    </jqxGrid>
  </nb-card-body>
</nb-card>
