<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>{{ title | uppercase}}</nb-card-header>
      <nb-card-body>
        <form [formGroup]="customForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.rate.group' | translate }}</label>
                <ng-select fullWidth formControlName="tax_gruop_id" name="tax_gruop_id" required
                  [class.is-invalid]="invalidTaxGroupId" [class.status-danger]="invalidTaxGroupId">
                  <ng-option *ngFor="let tax of taxGroup" [value]="tax.id">
                    {{ tax.name_taxe }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.rate.name' | translate }}</label>
                <input type="text" fullWidth nbinput name="rate_name" formControlName="rate_name" #focusElement autofocus
                  [class.status-danger]="invalidRateName" [class.is-invalid]="invalidRateName" required=""
                  class="input-full-width size-medium status-basic shape-rectangle ng-pristine ng-touched nb-transition ng-valid">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.rate.abbre' | translate }}</label>
                <input type="text" fullWidth nbinput name="rate_abbre" formControlName="rate_abbre"
                  [class.status-danger]="invalidRateAbbre" [class.is-invalid]="invalidRateAbbre" required=""
                  class="input-full-width size-medium status-basic shape-rectangle ng-pristine ng-touched nb-transition ng-valid">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.rate.value' | translate }}</label>
                <input type="number" step="any" fullWidth nbinput name="rate_value" formControlName="rate_value"
                  class="input-full-width size-medium status-basic shape-rectangle ng-pristine ng-touched nb-transition">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.rate.decimal' | translate }}</label>
                <input type="number" step="any" fullWidth nbinput name="decimal_rate" formControlName="decimal_rate"
                  class="input-full-width size-medium status-basic shape-rectangle ng-pristine ng-touched nb-transition">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.rate.frecuency' | translate }}</label>
                <ng-select fullWidth
                formControlName="shipping_frequency_id" name="shipping_frequency_id" required
                  [class.is-invalid]="invalidShippingFrequencyId" [class.status-danger]="invalidShippingFrequencyId">
                  <ng-option *ngFor="let taxF of taxFrecuency" [value] ="taxF.id">
                    {{ taxF.name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>{{ 'taxes.rate.accountName' | translate }}</label>
                <ng-select fullWidth formControlName="account_id" name="account_id" [virtualScroll]="true">
                  <ng-option *ngFor="let acco of accounts" [value] ="acco.id">
                    {{ acco.account_number }} {{ acco.account_name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="checkbox" class="input-full-width size-medium status-basic shape-rectangle nb-transition"
                  formControlName="is_exempt" style="margin-right: 2%;" name="is_exempt">
                <label>{{ 'taxes.rate.is_exempt' | translate }}</label>
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <div class="row flex">
          <div class="space-right float-right padding-top-bottom">
            <button (click)="cancel()" nbSuffix nbButton status="danger" class="radius-button" [disabled]="loading">
              <i class="fas fa-undo fas-fa-22 space-right"></i>
              <strong>{{ 'buttons.cancel' | translate }} </strong>
            </button>
          </div>
          <div class="space-right padding-top-bottom">
            <button nbSuffix nbButton (click)="saveAndCreate()" status="success" class="radius-button"
              [disabled]="loading">
              <i [ngClass]="{'fa-save':!saveACreate, 'fa-spinner fa-spin':saveACreate }"
                class="fas-fa-22 space-right fas">
              </i>
              {{'buttons.saveAndCreate' | translate }}
            </button>
          </div>
          <div class="padding-top-bottom">
            <button nbSuffix nbButton (click)="saveAndClose()" status="primary" class="radius-button"
              [disabled]="loading">
              <i [ngClass]="{'fa-save':!saveAClose, 'fa-spinner fa-spin':saveAClose }"
                class="fas-fa-22 space-right fas"></i>
              {{'buttons.saveAndClose' | translate }}
            </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
