<div class="card">
  <div class="card-header">
    {{ title | uppercase }}
  </div>
  <div class="card-body">
    <form [formGroup]="customForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{ 'companies.company_name' |
              translate }}</label>
            <input class="form-control" #companyName type="text" class="form-control" formControlName="company_name"
              [class.status-danger]="invalidCompanyName" [class.is-invalid]="invalidCompanyName" required autofocus
              name="company_name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{ 'companies.type_organization' |
              translate }}</label>
            <ng-select fullWidth formControlName="type_organization_id" required name="type_organization_id"
              [class.is-invalid]="invalidOrganization">
              <ng-option *ngFor="let typeOrg of typeOrg" [value]="typeOrg.id">{{ typeOrg.description }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{ 'companies.identity_document' |
              translate }}</label>
            <ng-select fullWidth formControlName="identity_document_id" required [class.is-invalid]="invalidIdentity"
              name="identity_document_id" [class.status-danger]="invalidIdentity">
              <ng-option *ngFor="let docs of identityDocs" [value]="docs.id">
                {{ docs.document_name }}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'companies.dni' | translate }}</label>
            <input type="text" name="dni" class="form-control" formControlName="dni">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{ 'companies.currency' | translate
              }}</label>
            <ng-select fullWidth formControlName="currency_id" name="currency_id" required
              [class.is-invalid]="invalidCurrency" [class.status-danger]="invalidCurrency">
              <ng-option *ngFor="let curre of currency" [value]="curre.id">
                <img height="15" width="15" [src]="'assets/flags/'+curre.image" /> {{ curre.CurrencyName }}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{ 'companies.country' | translate
              }}</label>
            <ng-select fullWidth formControlName="country_id" required [class.is-invalid]="invalidCountry"
              name="country_id" [class.status-danger]="invalidCountry">
              <ng-option *ngFor="let country of countries" [value]="country.id">
                <img height="15" width="15" [src]="'assets/flags/'+country.image" /> {{ country.country_name }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'companies.address' | translate }}</label>
            <input type="text" [placeholder]="placeholderAddress" class="form-control" formControlName="address">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'companies.location' | translate }}</label>
            <input type="text" [placeholder]="placeholderLocation" class="form-control" formControlName="location">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'companies.postal_code' | translate }}</label>
            <input type="text" [placeholder]="placeholderPostalCode" class="form-control" formControlName="postal_code">
          </div>
        </div>
        <div class="col-md-6">
          <label>{{ 'companies.mobile' | translate }}</label>
          <input type="text" [placeholder]="placeholderMobile" class="form-control" formControlName="mobile">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'companies.phone' | translate }}</label>
            <input type="text" [placeholder]="placeholderPhone" class="form-control" formControlName="phone">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'companies.email' | translate }}</label>
            <input type="text" [placeholder]="placeholderEmail" class="form-control" formControlName="email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'companies.web' | translate }}</label>
            <input type="text" [placeholder]="placeholderWeb" class="form-control" formControlName="web">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'companies.number_employees' | translate }}</label>
            <input type="number" min="0" [placeholder]="placeholderWeb" class="form-control"
              formControlName="number_employees">
          </div>
        </div>
      </div>
      <div class="row">
        <div div class="col-md-6">
          <div class="form-group">
            <label for="file">Seleccionar imagen</label>
            <input type="file" id="file" #uploadFile (change)="uploadImage($event)" class="form-control-file">
          </div>
        </div>
        <div div class="col-md-6">
          <img width="128px" [src]="imgData" class="img-thumbnail" fallimg>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <app-footer-form [loading]="loading" [showAaveACreate]="false" [saveAClose]="saveAClose" [saveAClose]="saveAClose"
      (closeEvent)="cancel()" (saveAndCreateEvent)="saveAndCreate()" (saveAndCloseEvent)="saveAndClose()">
    </app-footer-form>
  </div>
</div>
