//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================

// Custom variables
@import "colors";
$base-font-size: 15px;
$box-shadow: 0 4px 24px 0 rgba($black, 0.1) !important;
$input-focus-box-shadow: 0 3px 10px 0 rgba($black, 0.1) !important;

