<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>{{ title | uppercase}}</nb-card-header>
      <nb-card-body>
        <form [formGroup]="customForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="asterisk"> {{ 'general.asterisk' | translate }}
                  </span>{{ 'pointsofsale.name' | translate }}</label>
                <input type="text" nbinput autofocus #focusElement required [class.is-invalid]="invalidBranchName"
                  [class.status-danger]="invalidBranchName"
                  class="input-full-width size-medium status-basic shape-rectangle nb-transition form-control"
                  formControlName="branch_name" name="branch_name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="asterisk"> {{ 'general.asterisk' | translate }}
                  </span>{{ 'pointsofsale.branch_name' | translate }}</label>
                <ng-select fullWidth formControlName="branch_id" name="branch_id" required
                  [class.is-invalid]="invalidBranchId" [class.status-danger]="invalidBranchId"
                  [loading]="branchs.length === 0">
                  <ng-option *ngFor="let cur of branchs" [value]="cur.id">
                    {{ cur.branch_name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>{{ 'pointsofsale.address' | translate }}</label>
                <textarea nbinput class="input-full-width size-medium status-basic shape-rectangle nb-transition"
                  formControlName="address" name="address">
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ 'pointsofsale.phone' | translate }}</label>
                <input type="text" maxlength="12" nbinput
                  class="input-full-width size-medium status-basic shape-rectangle nb-transition"
                  formControlName="mobile" name="mobile">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ 'pointsofsale.mobile' | translate }}</label>
                <input type="text" nbinput
                  class="input-full-width size-medium status-basic shape-rectangle nb-transition"
                  formControlName="phone" name="phone">
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <div class="row flex">
          <div class="space-right float-right padding-top-bottom">
            <button (click)="cancel()" nbSuffix nbButton status="danger" class="radius-button" [disabled]="loading">
              <i class="fas fa-undo fas-fa-22 space-right"></i>
              <strong>{{ 'buttons.cancel' | translate }} </strong>
            </button>
          </div>
          <div class="space-right padding-top-bottom">
            <button nbSuffix nbButton (click)="saveAndCreate()" status="success" class="radius-button"
              [disabled]="loading">
              <i [ngClass]="{'fa-save':!saveACreate, 'fa-spinner fa-spin':saveACreate }"
                class="fas-fa-22 space-right fas">
              </i>
              {{'buttons.saveAndCreate' | translate }}
            </button>
          </div>
          <div class="padding-top-bottom">
            <button nbSuffix nbButton (click)="saveAndClose()" status="primary" class="radius-button"
              [disabled]="loading">
              <i [ngClass]="{'fa-save':!saveAClose, 'fa-spinner fa-spin':saveAClose }"
                class="fas-fa-22 space-right fas"></i>
              {{'buttons.saveAndClose' | translate }}
            </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
