  <div class="row flex">
    <div class="space-right float-right padding-top-bottom">
      <button (click)= "cancelMessage()" nbSuffix nbButton status="danger" class="radius-button" [disabled]="loading">
        <i class="fas fa-undo fas-fa-22 space-right"></i>
        <strong>{{ 'buttons.cancel' | translate }} </strong>
      </button>
    </div>
    <div *ngIf="showAaveACreate" class="space-right padding-top-bottom">
      <button nbSuffix nbButton (click) ="saveAndCreateMessage()" status="success" class="radius-button" [disabled]="loading">
        <i [ngClass]="{'fa-save':!saveACreate, 'fa-spinner fa-spin':saveACreate }" class="fas-fa-22 space-right fas">
        </i>
        {{'buttons.saveAndCreate' | translate }}
      </button>
    </div>
    <div class="padding-top-bottom">
      <button nbSuffix nbButton (click) ="saveAndCloseMessage()" status="primary" class="radius-button" [disabled]="loading">
        <i [ngClass]="{'fa-save':!saveAClose, 'fa-spinner fa-spin':saveAClose }" class="fas-fa-22 space-right fas"></i>
        {{'buttons.saveAndClose' | translate }}
      </button>
    </div>
  </div>
<ngx-spinner></ngx-spinner>
