<div class="card">
  <div class="card-header">
    {{ 'general.createEdit' | translate | uppercase }} {{ title | uppercase}}
  </div>
  <div class="card-body">
    <form [formGroup]="customForm">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink class="display-none">General</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.type_organization' | translate}}</label>
                  <ng-select formControlName="type_organization_id" required [virtualScroll]="true"
                    [class.is-invalid]="invalidOrganization">
                    <ng-option *ngFor="let typeOrg of typeOrg" [value]="typeOrg.id">{{ typeOrg.description }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label><span class="asterisk">{{ 'general.asterisk' | translate }}</span>Mostrar nombre como</label>
                  <input type="text" class="form-control" formControlName="full_name" required autofocus #focusElement
                  [class.is-invalid]="invalidFullName" [class.status-danger]="invalidFullName">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label><span
                      class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.currency' | translate}}</label>
                  <ng-select formControlName="currency_id" required
                    [class.is-invalid]="invalidCurrency" [virtualScroll]="true">
                    <ng-option *ngFor="let curre of currency" [value]="curre.id">
                      <img height="15" width="15" [src]="'assets/flags/'+curre.image" /> {{ curre.CurrencyName }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label><span
                      class="asterisk">{{ 'general.asterisk' | translate }}</span>{{'companies.country' | translate}}</label>
                  <ng-select formControlName="country_id" required [class.is-invalid]="invalidCountry"
                    [class.status-danger]="invalidCountry" [virtualScroll]="true">
                    <ng-option *ngFor="let country of countries" [value]="country.id">
                      <img height="15" width="15" [src]="'assets/flags/'+country.image" /> {{ country.country_name }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <br>
                <br>
                <div class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" formControlName="is_secondary" (change)="onChageSeconday($event)">
                      ¿Es un cliente secundario?
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6" *ngIf="is_secondary">
                <div class="form-group">
                  <label>Cliente principal</label>
                  <ng-select formControlName="parent_id" [virtualScroll]="true">
                    <ng-option value='0'>Ninguno</ng-option>
                    <ng-option *ngFor="let person of persons" [value]="person.id">
                      {{ person.full_name }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label>Titulo</label>
                  <input class="form-control" type="text" formControlName="title"
                    name="title">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label>Nombres</label>
                  <input class="form-control" type="text" formControlName="names">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label>Apellidos</label>
                  <input class="form-control" type="text" formControlName="last_name" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>DNI</label>
                  <input class="form-control" type="text" formControlName="dni">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nombre de la empresa</label>
                  <input class="form-control" type="text" formControlName="company_name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Correo electrónico</label>
                  <input class="form-control" type="text" formControlName="email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Web</label>
                  <input class="form-control" type="text" formControlName="web">
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink class="display-none">Ubicación/Dirección</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Dirección principal</label>
                  <textarea class="form-control" formControlName="address" rows="2"></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Dirección postal</label>
                  <textarea class="form-control" formControlName="location" rows="2"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Ciudad/Distrito</label>
                  <input class="form-control" type="text" formControlName="city_name">
                </div>
              </div>
              <div class="col-md-6">
                <label>Estado/Provincia</label>
                <input class="form-control" type="text" formControlName="state_name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Código postal</label>
                  <input class="form-control" type="text" formControlName="postal_code">
                </div>
              </div>
              <div class="col-md-6">
                <label>Movil</label>
                <input class="form-control" type="text" formControlName="mobile">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fijo</label>
                  <input class="form-control" type="text" formControlName="phone">
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink class="display-none">Pago y facturación</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{ 'general.tax' | translate }}</label>
                  <ng-select formControlName="tax_rate_id">
                    <ng-option value='0'>Ninguno</ng-option>
                    <ng-option *ngFor="let tax of tax" [value]="tax.id">
                      {{ tax.name_taxe }} - {{ tax.rate_name }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Cuenta contable</label>
                  <ng-select formControlName="accounting_account_id" [virtualScroll]="true">
                    <ng-option value='0'>Ninguna</ng-option>
                    <ng-option *ngFor="let account of accounts" [value]="account.id">
                      {{ account.account_number }} - {{ account.account_name }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Metodo de pago preferido</label>
                  <ng-select formControlName="means_payment_id">
                    <ng-option value='0'>Ninguno</ng-option>
                    <ng-option *ngFor="let payment of payments" [value]="payment.id">
                     {{ payment.payment_method }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Condiciones de pago</label>
                  <ng-select formControlName="sales_term" [virtualScroll]="true">
                    <ng-option value='0'>Ninguna</ng-option>
                    <ng-option *ngFor="let timel of timelimits" [value]="timel.id">
                      {{ timel.term_name }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Saldo inicial</label>
                  <input class="form-control" currencyMask name="initial_balance" formControlName="initial_balance">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>A partir de la fecha</label>
                  <input type="date" class="form-control" name="initial_date" formControlName="initial_date">
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </form>
  </div>
  <div class="card-footer">
    <app-footer-form [loading]="loading" [showAaveACreate]="true" [saveAClose]="saveAClose" [saveAClose]="saveAClose"
      (closeEvent)="cancel()" (saveAndCreateEvent)="saveAndCreate()" (saveAndCloseEvent)="saveAndClose()" [maskSpinner]="maskSpinner">
    </app-footer-form>
  </div>
</div>
