<exodo-grid #exodoGrid class="w-100"
            [caption]="'taxes.title' | translate"
            [columns]="eColumns"
            [showPagination]="true"
            mode="remote">
    <div class="d-flex justify-content-between mb-1 w-100" header>
     <!--   <button  class="btn custom-button fas-fa-close mr-1" (click)="goToParent()" [disabled]="loading">
            <i class="fa-solid fa-door-closed fas-fa-22 fas-fa-close"></i> {{ 'buttons.back' | translate }}
        </button>-->
        <div class="d-flex justify-content-end w-100">
            <ng-container *ngIf="showNewButton">
                <button class="btn custom-button border fas-fa-ok" (click)="createData()" [disabled]="loading">
                    <i class="fa fa-plus mr-1 fas-fa-22 fas-fa-ok"></i>
                    {{ 'buttons.new' | translate }}
                </button>
            </ng-container>
            <ng-container *ngIf="useOtherButton">
                <button  class="btn custom-button border fas-fa-save ml-1" (click)="onOtherButton()" [disabled]="loading">
                    <i class="{{ faOtherButton }} fas-fa-save"></i>
                    {{ textOtherButton }}
                </button>
            </ng-container>
            <ng-container *ngIf="useImport">
                <button  class="btn custom-button border fas-fa-ok ml-1" (click)="importData()" [disabled]="loading">
                    <i class="fa fa-upload mr-1 fas-fa-22 fas-fa-ok"></i>
                    {{ 'buttons.import' | translate }}
                </button>
            </ng-container>
        </div>
    </div>
</exodo-grid>
