<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>{{ title | uppercase}}</nb-card-header>
      <nb-card-body>
        <form [formGroup]="customForm">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label><span class="asterisk">{{ 'general.asterisk' | translate}}</span>Nombre del grupo</label>
                <input class="form-control" type="text" #focusElement nbInput fullWidth name="accounting_group_name"
                  formControlName="accounting_group_name" [class.status-danger]="invalidName"
                  [class.is-invalid]="invalidName" required="" autofocus>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label><span class="asterisk">{{ 'general.asterisk' | translate}}</span>Número</label>
                <input class="form-control" type="number" nbInput fullWidth min="0" formControlName="number"
                  [class.is-invalid]="invalidNumber" name="number" [class.status-danger]="invalidNumber">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
              <div class="form-group overflow-box">
                <label><span class="asterisk">{{ 'general.asterisk' | translate}}</span>Clase de cuenta</label>
                <ng-select fullWidth formControlName="class_account_id" required name="class_account_id" appendTo="body"
                  [class.is-invalid]="invalidClass" [loading]="modelClass.length === 0">
                  <ng-option *ngFor="let modClass of modelClass" [value]="modClass.id">
                    {{ modClass.name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <div class="row flex">
          <div class="space-right float-right padding-top-bottom">
            <button (click)="cancel()" nbSuffix nbButton status="danger" class="radius-button" [disabled]="loading">
              <i class="fas fa-undo fas-fa-22 space-right"></i>
              <strong>{{ 'buttons.cancel' | translate }} </strong>
            </button>
          </div>
          <div class="space-right padding-top-bottom">
            <button nbSuffix nbButton (click)="saveAndCreate()" status="success" class="radius-button"
              [disabled]="loading">
              <i [ngClass]="{'fa-save':!saveACreate, 'fa-spinner fa-spin':saveACreate }"
                class="fas-fa-22 space-right fas">
              </i>
              {{'buttons.saveAndCreate' | translate }}
            </button>
          </div>
          <div class="padding-top-bottom">
            <button nbSuffix nbButton (click)="saveAndClose()" status="primary" class="radius-button"
              [disabled]="loading">
              <i [ngClass]="{'fa-save':!saveAClose, 'fa-spinner fa-spin':saveAClose }"
                class="fas-fa-22 space-right fas"></i>
              {{'buttons.saveAndClose' | translate }}
            </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
