<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">{{ 'general.createEdit' | translate | uppercase}} {{ 'accounting.groups.group' | translate | uppercase}}</div>
      <div class="card-body">
        <form [formGroup]="customForm">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label><span class="asterisk">{{ 'general.asterisk' | translate}}</span>{{ 'accounting.groups.name' | translate }}</label>
                <input class="form-control" type="text" #focusElement name="accounting_group_name"
                  formControlName="accounting_group_name" [class.status-danger]="invalidName"
                  [class.is-invalid]="invalidName" required="" autofocus>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label><span class="asterisk">{{ 'general.asterisk' | translate}}</span>{{ 'accounting.groups.number' | translate }}</label>
                <input class="form-control" type="number" min="0" formControlName="number"
                  [class.is-invalid]="invalidNumber" name="number" [class.status-danger]="invalidNumber">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
              <div class="form-group overflow-box">
                <label><span class="asterisk">{{ 'general.asterisk' | translate}}</span>{{ 'accounting.groups.classOfAccount' | translate }}</label>
                <ng-select fullWidth formControlName="class_account_id" required name="class_account_id" appendTo="body"
                  [class.is-invalid]="invalidClass" [virtualScroll]="true">
                  <ng-option *ngFor="let modClass of modelClass" [value]="modClass.id">
                    {{ modClass.name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <app-footer-form [loading]="loading" [showAaveACreate]="true" [saveAClose]="saveAClose" [saveAClose]="saveAClose"
          (closeEvent)="cancel()" (saveAndCreateEvent)="saveAndCreate()" (saveAndCloseEvent)="saveAndClose()">
        </app-footer-form>
      </div>
    </div>
  </div>
</div>
