<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">{{ 'general.createEdit' | translate | uppercase }} {{ 'accounting.account' | translate | uppercase}}</div>
      <div class="card-body">
        <form [formGroup]="customForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><span
                    class="asterisk">{{ 'general.asterisk' | translate}}</span>{{ 'accounting.name' | translate }}</label>
                <input class="form-control" type="text" #focusElement name="account_name"
                  formControlName="account_name" [class.status-danger]="invalidName" [class.is-invalid]="invalidName"
                  required autofocus>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span
                    class="asterisk">{{ 'general.asterisk' | translate}}</span>{{ 'accounting.description' | translate }}</label>
                <input class="form-control" type="text" #focusElement name="description"
                  formControlName="description" [class.status-danger]="invalidDescription"
                  [class.is-invalid]="invalidDescription" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ 'accounting.number' | translate }}</label>
                <input class="form-control" type="text" formControlName="account_number"
                  name="account_number">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group overflow-box">
                <label><span
                    class="asterisk">{{ 'general.asterisk' | translate}}</span>{{ 'accounting.group' | translate }}</label>
                <ng-select fullWidth formControlName="accounting_group_id" required name="accounting_group_id"
                   [virtualScroll]="true" [class.is-invalid]="invalidGroupId"
                  [class.status-danger]="invalidGroupId">
                  <ng-option *ngFor="let account of accountGroup" [value]="account.id">
                    {{ account.accounting_group_name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group overflow-box">
                <label><span
                    class="asterisk">{{ 'general.asterisk' | translate}}</span>{{ 'general.currency'  | translate }}</label>
                <ng-select fullWidth formControlName="currency_id" name="currency_id" required
                  [class.is-invalid]="invalidCurrency" [class.status-danger]="invalidCurrency"
                  [virtualScroll]="true" >
                  <ng-option *ngFor="let cur of currency" [value]="cur.id">
                    <img height="15" width="15" [src]="'assets/flags/'+cur.image" /> {{ cur.CurrencyName }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group overflow-box">
                <label><span class="asterisk">{{ 'general.asterisk' | translate}}</span>{{ 'general.tax' | translate }}</label>
                <ng-select fullWidth formControlName="tax_rate_id" required name="tax_rate_id"
                  [virtualScroll]="true" [class.is-invalid]="invalidTaxId"
                  [class.status-danger]="invalidTaxId">
                  <ng-option *ngFor="let tax of tax" [value]="tax.id">
                    {{ tax.name_taxe }} - {{ tax.rate_name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <br><br>
                <input type="checkbox" class="checkbox"
                  formControlName="is_subaccount" id="is_subaccount" name="is_subaccount" style="margin-right: 2%;"
                  (change)="onChageSub($event)">
                <label for="is_subaccount">{{ 'accounting.isSubAccount' | translate }}</label>
              </div>
            </div>
            <div class="col-md-6" *ngIf="is_subaccount">
              <div class="form-group overflow-box">
                <label>{{ 'accounting.master' | translate }}</label>
                <ng-select fullWidth formControlName="account_id" required name="account_id"
                  [virtualScroll]="true">
                  <ng-option *ngFor="let master of master" [value]="master.id">
                    {{ master.account_number }} - {{ master.account_name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <app-footer-form [loading]="loading" [showAaveACreate]="true" [saveAClose]="saveAClose" [saveAClose]="saveAClose"
          (closeEvent)="cancel()" (saveAndCreateEvent)="saveAndCreate()" (saveAndCloseEvent)="saveAndClose()">
        </app-footer-form>
      </div>
    </div>
  </div>
</div>
