<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">{{ 'general.createEdit' |translate | uppercase }} ATRIBUTO</div>
      <div class="card-body">
        <form  [formGroup]="customForm">
          <div class ="row">
            <div class="col">
              <div class="form-group">
                <label> <strong class="asterisk"> {{ 'general.asterisk' | translate }}</strong> Nombre del atributo</label>
                <input type="text" #focusElement class="form-control"
                  formControlName="attribute_name"  [class.status-danger]="invalidName"  [class.is-invalid]="invalidName" required autofocus>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <app-footer-form [loading]="loading" [showAaveACreate]="true" [saveAClose]="saveAClose" [saveAClose]="saveAClose"
          (closeEvent)="cancel()" (saveAndCreateEvent)="saveAndCreate()" (saveAndCloseEvent)="saveAndClose()">
        </app-footer-form>
      </div>
    </div>
  </div>
</div>
