<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">{{ title | uppercase}}</div>
      <div class="card-body">
        <form [formGroup]="customForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.rate.group' | translate }}</label>
                <ng-select fullWidth formControlName="tax_gruop_id" name="tax_gruop_id" required
                  [class.is-invalid]="invalidTaxGroupId" [class.status-danger]="invalidTaxGroupId">
                  <ng-option *ngFor="let tax of taxGroup" [value]="tax.id">
                    {{ tax.name_taxe }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.rate.name' | translate }}</label>
                <input type="text" formControlName="rate_name" #focusElement autofocus
                  [class.status-danger]="invalidRateName" [class.is-invalid]="invalidRateName" required=""
                  class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.rate.abbre' | translate }}</label>
                <input type="text" formControlName="rate_abbre"
                  [class.status-danger]="invalidRateAbbre" [class.is-invalid]="invalidRateAbbre" required=""
                  class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.rate.value' | translate }}</label>
                <input type="number" step="any" formControlName="rate_value"
                  class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.rate.decimal' | translate }}</label>
                <input type="number" step="any" formControlName="decimal_rate"
                  class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span class="aterisk">{{ 'general.aterisk' | translate }}</span>{{ 'taxes.rate.frecuency' | translate }}</label>
                <ng-select fullWidth
                formControlName="shipping_frequency_id" name="shipping_frequency_id" required
                  [class.is-invalid]="invalidShippingFrequencyId" [class.status-danger]="invalidShippingFrequencyId">
                  <ng-option *ngFor="let taxF of taxFrecuency" [value] ="taxF.id">
                    {{ taxF.name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>{{ 'taxes.rate.accountName' | translate }}</label>
                <ng-select fullWidth formControlName="account_id" name="account_id" [virtualScroll]="true">
                  <ng-option value='0'>Seleccionar cuenta</ng-option>
                  <ng-option *ngFor="let acco of accounts" [value] ="acco.id">
                    {{ acco.account_number }} {{ acco.account_name }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="checkbox">
                <input type="checkbox" class="form-control" formControlName="is_exempt" style="margin-right: 2%;" id="is_exempt">
                <label for="is_exempt">{{ 'taxes.rate.is_exempt' | translate }}</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <app-footer-form [showAaveACreate]="true" [saveAClose]="saveAClose" [saveAClose]="saveAClose" (closeEvent)="cancel()"
                          (saveAndCreateEvent)="saveAndCreate()" (saveAndCloseEvent)="saveAndClose()"></app-footer-form>
      </div>
    </div>
  </div>
</div>
