<div class="row">
  <div class="col-12 col-sm-12 col-md-6 center-column">
      <form class="loginform center-column" [formGroup]="registerForm">
        <h1 class="text-break text-center" style="font-size: 24px;"><strong>{{ 'register.headerForm' | translate }}</strong><br></h1>
        <div class="illustration"><i class="fa fa-user-plus"></i></div>
        <div class="form-group">
          <input class="form-control" type="text" name="name" [placeholder]="placeholderNameAndSurname"
            required="" formControlName="name" [class.is-invalid]="invalidUserName" autofocus>
        </div>
        <div class="form-group">
          <input class="form-control" type="email" name="email" [placeholder]="placeholderEmail" required=""
            inputmode="email" formControlName="email" [class.is-invalid]="invalidEmail">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" [placeholder]="placeholderPassw" required=""
            formControlName="password" [class.is-invalid]="invalidPassword">
          <!-- <small class="text-danger" *ngIf="invalidMobile">Ingrese un teléfono celular</small> -->
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password_confirmation" [placeholder]="placeholderConfirmPassw" required=""
            formControlName="password_confirmation" [class.is-invalid]="invalidConfirmPassword">
          <!-- <small class="text-danger" *ngIf="invalidMobile">Ingrese un teléfono celular</small> -->
        </div>
        <button class="btn btn-info btn-block btn-lg" type="submit" (click) ="onSave()" [disabled]="loading">
          <strong *ngIf="!loading">{{ 'register.button.registerNow' | translate }}</strong>
          <strong *ngIf="loading">{{ 'register.button.creatingAccount' | translate }}</strong>
          <i [ngClass]="{'fa-id-card':!loading, 'fa-spinner fa-spin':loading }" class="fas"
          style="text-align: left;padding-left: 10px;">
          </i>
        </button>
        <label style="padding: 2px;font-size: 12px;">{{ 'register.label.youRegistered' | translate }}
          <a [routerLink]="['/login']"><strong>{{ 'register.label.login' | translate }}</strong></a>
        </label>
      </form>
  </div>
</div>
<router-outlet></router-outlet>
