<div class="row">
  <div class="col-12 col-sm-12 col-md-6 center-column">
      <form class="loginform center-column" [formGroup]="loginForm">
        <h1 class="text-break text-center" style="font-size: 24px;"><strong>{{ 'login.headerForm' | translate }}</strong><br></h1>
        <div class="illustration"><i class="fa fa-key"></i></div>
        <div class="form-group">
          <input #focusElement class="form-control" type="email" name="email" [placeholder]="placeholderEmail" required=""
          inputmode="email" formControlName="email" [class.is-invalid]="invalidEmail" autofocus >
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" [placeholder]="placeholderPassw"
            required="" formControlName="password" [class.is-invalid]="invalidPassword">
        </div>
        <div class="form-group">
          <input type="checkbox" id="remember_me" name="remember_me" formControlName="remember_me">
          <label for="remember_me"> {{ 'login.rememberMe' | translate }}</label><br>
        </div>
        <button class="btn btn-info btn-block btn-lg" type="submit" (click) ="onSave()" [disabled]="loading">
          <strong *ngIf="!loading">{{ 'login.button.startNow' | translate }}</strong>
          <strong *ngIf="loading">{{ 'login.button.loggingIn' | translate }}</strong>
          <i [ngClass]="{'fa-sign-in-alt':!loading, 'fa-spinner fa-spin':loading }" class="fas"
          style="text-align: left;padding-left: 10px;">
          </i>
        </button>
        <label style="padding: 2px;font-size: 12px;">{{'login.label.youHaveNotRegistered' | translate}}
          <a [routerLink]="['/register']"><strong>{{'login.label.createAccount' | translate}}</strong></a>
        </label>
        <br>
        <label style="padding: 2px;font-size: 12px;">{{'login.label.forgotYourPassword' | translate}}
          <a href="#" target="_blank"><strong>{{'login.label.recoverPassword' | translate}}</strong></a>
        </label>
      </form>
  </div>
</div>
<router-outlet></router-outlet>
